body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* background: url('https://i.pinimg.com/564x/2d/34/6f/2d346facaa62d3fb52d54514cfd38516.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}